* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100% ;
    overflow-x: hidden ;
}

body {
    background-color: black;
}

#string {
    width: 100% ;
    /* height: 200px ; */
    /* background-color: orange; */
}
