@font-face {
    font-family: hehe;
    /* src: url(./Coffee\ Soda.ttf); */
    /* src: url(./Howdy\ Lemon.ttf) */
    src: url(./PPNeueMachina-InktrapLight.otf)
}

* {
margin:0;
padding: 0;
box-sizing: border-box ;
}

html,
body {
width: 100% ;
height: 100% ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

#page1 , #page2 , #page3 {
    height: 100vh ;
    width: 100vw ;
} 

#page2 {
    background-color: grey;
}

#move {
    background-color: #D9FF06;
    display: flex;
    overflow: hidden;   
    /* width: 300vw; */
    white-space: nowrap;
}

.marque {
    display: flex;
    align-items: center;
    gap: 2vw ;
    padding: 2vh 3vw ;
    transform: translateX(-100%)
}

.marque h1 {
    font-family: hehe;
    text-transform: uppercase;
    font-size: 2rem;
}
.marque img {
    height: 60px ;
}